{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if query %}
    <h1>Posts containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>
    {% for post in results %}
    <div class="card-group">
        <div class="card">
            <h4 class="card-header">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h4>
            <div class="card-body">
                {{ post.body|markdown|truncatewords_html:50 }}
            </div>
        </div>
    </div>
        
        

            <!-- <h4>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h4>
            {{ post.body|markdown|truncatewords_html:12 }} -->

    {% empty %}
        <p>There are no results for your query.</p>
    {% endfor %}
    <p><a class="btn btn-outline-primary" href="{% url "blog:post_search" %}">Search again</a></p>
    {% else %}
        <div class="card">
            <h5 class="card-header">Search for posts</h5>
            <div class="card-body">
                <form method="get">
                    {{ form.as_p }}
                    <input type="submit" value="Search" class="btn btn-outline-primary">
                </form>
            </div>
        </div>
        <!-- <h1>Search for posts</h1>
        <form method="get">
            {{ form.as_p }}
            <input type="submit" value="Search" class="btn btn-outline-primary">
        </form> -->
    {% endif %}

    





{% endblock %}

